body {
	background: url("background.jpg") no-repeat center center fixed;
	background-size: cover;
}


h1 {
	font-family: 'Lato', sans-serif;
	color: #03A7EE;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}